@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66BFBF;
  font-family: "Sacramento", cursive;
  font-size: 5.625em;
  margin-top: 0;
}

h2 {
  color: #66BFBF;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  margin: 0;
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 0.35rem;
  border-bottom: none;
  margin: 0.1rem auto;
  width: 10%;
}

/********************************* TOP-CONTAINER *************************************/
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 25%;
  top: 3%;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 45%;
}

/********************************* MIDDLE-CONTAINER *************************************/
.middle-container {
  margin: 100px auto;
}

.profile-img {
  width: 25%;
}

.profile {
  margin: 100px auto;
  text-align: center;
  width: 60%;
}

.skill-h2 {
  margin: 66.8px 0;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.hobbies-img {
  float: left;
  margin-right: 25px;
  width: 25%;
}

.skills-img {
  float: right;
  margin-left: 25px;
  width: 25%;
}

.contact-img {
  width: 20%;
}

.contact-me {
  margin: 100px auto;
  text-align: center;
  width: 50%;
}

.contact-msg {
  margin: 40px auto 60px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

/********************************* BOTTOM-CONTAINER *************************************/
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px
}

.bottom-container p {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}